OPENROUTER_API_KEY=
DATABASE_URL=
OPENROUTER_MODEL=qwen/qwen3-235b-a22b-2507
OPENROUTER_TEMPERATURE=0.2
APP_URL=http://localhost:3000
APP_NAME=mem-gpt-cli
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
